<body>
    <section class="container">
        <header>Prijava</header>
        <form action="#" class="form">
            <div class="input-box">
                <label for="usrName">Ime</label>
                <input formControlName="userName" type="text" id="usrName" placeholder="Unesite korisničko ime" style="height: 40px;" required/>
            </div>
            <div class="input-box">
                <label for="usrPassword">Lozinka</label>
                <input formControlName="password" type="password" id="usrPassword" placeholder="Unesite lozinku" style="height: 40px;" required/>
            </div>
            <button class="btn2" style="height: 45px;" type="submit">Prijava</button>
        </form>
    </section>
</body>